<div class="container mt-5">
  <form action="/restaurant" method="POST">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label ">餐廳 名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="餐廳名稱..." name="name">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 英文名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="English name..." name="name_en">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 分類</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="餐廳分類..." name="category">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 圖片連結</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="http://...." name="image">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 地址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="餐廳地址..." name="location">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 電話</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="餐廳電話 0X-XXXXXXXX" name="phone">
      </div>
      <label class="col-sm-2 col-form-label">Google Map</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="http://..." name="google_map">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 評分</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" placeholder="0 ~ 5" name="rating" min="0" max="5" step="0.1">
      </div>
      <label class="col-sm-2 col-form-label">餐廳 描述</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="本餐廳的特色是..." name="description">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>